:root{
    --bg_colr:#03B9F5 ;
}
body{
    margin: 0;
    padding: 0;
    font-family: Comfortaa,Arial, Helvetica, sans-serif;
}
/*Nav Styling*/
nav{
    margin: 10px;
    /* margin-top: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav .nav_sec1{
    width: fit-content;
}

nav .nav_sec1 img{
    /* width: 75%; */
}
.nav_sec2,.nav_sec3 {
    display: grid;
    place-items: center;
}
nav .nav_sec2 li{
    display: inline-block;
    font-size: 24px;
    padding: 0 20px;
    font-weight: 500;
}
.nav_sec3 li{
    display: inline-block;
    font-size: 24px;
    padding:0 10px;
}
.nav_sec2 li:hover,.nav_sec3 li:hover{
    transition-duration: .3s;
    color: var(--bg_colr);
}
.nav_sec3 li[sign]{
    padding: 10px 10px;
    border: 2.5px solid transparent;
    color: #fff;
    background-color: var(--bg_colr);
    /* transition-duration: .5s; */
    border-radius: 10px;
    font-weight: 500;
}
/* .nav_sec3 li[sign]:hover{
    color: var(--bg_colr);
    background-color: rgb(255, 255, 255);
    border-color: var(--bg_colr);
} */
/*End of nav styling*/
/**********************************************************/
/*Main Styling*/
.main_part1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0px 0 48px;
}
.main_part1 .main_part1_sec1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}
.main_part1_sec1 h1{
font-size: 50px;
margin-bottom: 0;
text-transform: capitalize;
}
.main_part1_sec1 p{
font-size: 30px;
font-weight: 500;
margin-bottom: 15px;
/* text-transform: capitalize; */
}

.main_part1_sec2 img{
    width: 80%;
}
.main_part1_sec1 button[read]{
    display: block;
    width: fit-content;
    margin: 10px 0;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--bg_colr);
    color: #fff;
}
.main_part1_sec1 span[search-bar]{
    display: inline-block;
    margin: 10px 0 ;
    border: 1px solid transparent;
    padding: 10px 10px ;
    width: fit-content;
    background-color: rgba(238, 238, 238, 0.176);
    border-radius: 50px;
    font-size: 22px;
    color: var(--bg_colr);
}
span[search-bar] input{
    font-size: 22px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-transform: capitalize;

    padding: 10px;
}
span[search-bar] input[type="text"]:focus{
    border-color: #fff;
    border-width: 0 0 1px 0;
    border-bottom: 1px solid black;
text-transform: capitalize;
}
span[buttons]{
    display: inline-block;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
span[buttons] button{
    color: #fff;
    background-color: var(--bg_colr);
    font-size: 22px;
    width: 100%;
    padding: 15px;
    margin: 15px 15px;
    border: 2.5px solid transparent;
    border-radius: 10px;
}
span[buttons] button[appointment]{
margin-left: 0;
}
span[buttons] button[video]{
    border: 2.5px solid var(--bg_colr);
    background-color: #fff;
    color: var(--bg_colr);
}
.main_part2{
margin: 0;
height: 100vh;
/* border: 1px solid black; */
position: relative;
overflow: hidden;
}
.main_part2 .circle{
    width: 500px;
    height: 500px;
    background-color: #03b9f53a;
    position: absolute;
    border-radius: 50%;
    z-index: -1;

}
.c1{
    top: -7rem;
    left: -7rem;
}
.c2{
    bottom:-7rem;
    right: -7rem;
}
.main_part2 .main_part2_sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 48px 64px;
    text-align: center;
    font-size: 24px;
}
.main_part2_sec1 div{
    background-color: var(--bg_colr);
    padding: 20px 10px;
    margin: 0 20px;
    border-radius: 15px;
    color: #fff;
    width: 20%;
    font-weight: 500;
    /* height: 500%; */
}
.firstCard{
    margin-left:0 ;
}
.lastCard{
    margin-right: 0;
}